<div class="col-md-offset-2 col-md-8">
    <h1>Anúncios</h1>

    <a
        class="btn btn-success"
        style="margin-bottom: 15px;"
        ui-sref="^.create"
    >
        Cadastrar anúncio
    </a>

    <div class="table-responsive">
        <table style="width:100%" class="table table-bordered">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Tipo</th>
                    <th>Postado</th>
                    <th align="right">Preço</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="ad in adsCtrl.ads track by $index">
                    <td>{{ :: ad.title }}</td>
                    <td>{{ :: ad.type }}</td>
                    <td>{{ :: ad.creationDate | dateToTimestamp | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td align="center">{{ :: ad.price | currency:'R$' }}</td>
                </tr>

                <tr ng-show="adsCtrl.ads.length === 0">
                    <td>Não existem anúncios ainda</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>