<div style="margin: 3% 3% 3% 3%" ng-cloak>
    <div class="input-group">
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        <input placeholder="Título" type="text" ng-model="ad.title" />
    </div>

    <div class="input-group">
        <i class="fa fa-usd" aria-hidden="true"></i>
        <input placeholder="Preço" type="text" ng-model="ad.price" />
    </div>

    <div class="input-group">
        <<i class="fa fa-flag" aria-hidden="true"></i>
        <input placeholder="Tipo" type="text" ng-model="ad.type" />
    </div>

    <div>
        <button class="btn btn-success">Cadastrar Anúncio</button>
        <button class="btn btn-info">Limpar Campos</button>
    </div>
</div>