<div  style="margin: 3% 3% 3% 3%" layout = "column" ng-cloak>
	<md-input-container>
    	<md-icon md-font-library="material-icons">bookmark</md-icon>
		<input placeholder="Título" type="text" ng-model="ad.title">
	</md-input-container>

	<md-input-container>
    	<md-icon md-font-library="material-icons">attach_money</md-icon>
		<input placeholder="Preço" type="text" ng-model="ad.price">
	</md-input-container>

	<md-input-container>
    	<md-icon md-font-library="material-icons">flag</md-icon>
		<input placeholder="Tipo" type="text" ng-model="ad.type">
	</md-input-container>

	<div layout="row">
		<md-button class="md-raised md-primary" flex="50">Cadastrar Anúncio</md-button>
		<md-button  style="background-color: blue; color: white" class="md-raised" flex="50">Limpar Campos</md-button>
	</div>

</div>